@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Roboto:wght@400;500;700;900&family=Titan+One&display=swap');

%titan-400 {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

%dmSans-400 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}