@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Roboto:wght@400;500;700;900&family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
.container {
  width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}

body {
  font-family: "DM Sans", sans-serif;
  color: #000;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: inherit;
}

ul {
  list-style: none;
}

p,
ul,
h1,
h2,
h3,
h4,
h6 {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

.flex {
  display: flex;
}

.page-header {
  height: 60px;
  background-color: #ffb8ca;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 10px 0;
}

.nav__button {
  display: none;
}

.page-nav {
  z-index: 2;
}

.nav {
  display: flex;
  gap: 35px;
  font-size: 16px;
  font-weight: 700;
  z-index: 3;
}

.nav__link {
  color: #fff;
  transition: color 0.3s;
}

.active {
  color: #d41443;
}

.nav__link:hover {
  color: #d41443;
}

.button {
  border-radius: 22px;
  width: 159px;
  height: 44px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button__icon {
  margin: 3px 0px 0px 7px;
  fill: #d41443;
}

.button__clear {
  background-color: #fff;
  color: #d41443;
  fill: #d41443;
}

.button__active {
  background-color: #d41443;
  color: #fff;
}

.nav__button--icon {
  display: none;
}

.nav__button--responsive {
  width: 186px;
  display: none;
}

.nav__content--close {
  display: none;
  padding-right: 20px;
  padding-bottom: 24px;
}

.hidden {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .page-header {
    height: 50px;
    padding: 8px 10px 0;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
  }
  .nav__button--buy {
    display: none;
  }
  .page-header {
    padding-right: 0px;
  }
  .page-nav {
    z-index: 4;
  }
  .nav__content--close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav__button--icon {
    display: block;
    background: none; /* Elimina el fondo */
    border: none; /* Elimina el borde */
    padding: 0; /* Elimina el espacio interno */
    cursor: pointer; /* Cambia el cursor a una mano */
  }
  .nav__button--close {
    width: 14px;
    height: 14px;
  }
  .nav__button--close {
    width: 20px;
    height: 14px;
  }
  .nav__button--responsive {
    width: 186px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .nav {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    background-color: #e17992;
    gap: 0px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 254px;
    padding-top: 20px;
  }
  .nav.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .nav__item {
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
    height: 42px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
  }
}
@media screen and (max-width: 768px) {
  .page-nav {
    z-index: 4;
  }
  .nav__content--close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav__button--icon {
    display: block;
    background: none; /* Elimina el fondo */
    border: none; /* Elimina el borde */
    padding: 0; /* Elimina el espacio interno */
    cursor: pointer; /* Cambia el cursor a una mano */
  }
  .nav__button--close {
    width: 14px;
    height: 14px;
  }
  .nav__button--close {
    width: 20px;
    height: 14px;
  }
  .nav__button--responsive {
    width: 186px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .nav {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    background-color: #e17992;
    gap: 0px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 254px;
    padding-top: 20px;
  }
  .nav.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .nav__item {
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
    height: 42px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
  }
}
.banner {
  background-color: #ffb8ca;
  height: 515px;
  padding: 0px 20px 0px 20px;
  padding-top: 60px;
}

.banner__right {
  width: 557px;
}

.banner__tittle {
  font-family: "Titan One";
  letter-spacing: 1.52px;
  text-transform: uppercase;
}

.banner__tittle-clear {
  color: #fff;
  font-size: 38px;
}

.banner__tittle-color {
  color: #d41443;
  font-size: 58px;
}

.banner__buttons {
  margin-top: 24px;
  gap: 12px;
}
.banner__buttons .button {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s;
  fill: #d41443;
}
.banner__buttons .button__active {
  width: 107px;
}

.button:hover {
  background-color: #d41443;
  color: #fff;
  fill: #fff;
}

.banner__slide {
  margin-top: 40px;
  align-items: flex-end;
}

.banner__slide__info {
  width: 200px;
  color: #fff;
  font-family: "DM Sans";
  font-size: 14px;
  line-height: 19.6px;
}

.banner__button__slide {
  margin-top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #d41443;
  cursor: pointer;
}

.banner__elispsis-ice {
  width: 534px;
  height: 534px;
  border-radius: 534px;
  background: #ffa5ba;
}

.banner__elispsis-ice {
  position: absolute;
  top: 60px;
}

.banner__img-ice {
  position: absolute;
  top: 54px;
  left: 119px;
}

.banner__img-cliente {
  position: absolute;
  left: 363px;
  top: 369px;
}

.banner__info-points {
  position: absolute;
  left: 575px;
  top: 120px;
  background-color: #ffb8ca;
  width: 92px;
}

.number-points {
  color: #d41443;
  text-align: right;
  font-family: "Titan One";
  font-size: 46px;
  z-index: 3;
}

.text-info-points {
  color: #fff;
  text-align: right;
  font-family: "DM Sans";
  font-size: 14px;
}

.banner__elipsis__points {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}

.elipsis-position {
  left: 82px;
}

.points-food {
  margin-top: 33px;
}

@media screen and (max-width: 480px) {
  .banner {
    height: 410px;
    padding: 0px 20px 0px 20px;
    padding-top: 60px;
  }
  .banner__right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .banner__tittle-clear {
    font-size: 26px;
    white-space: normal;
  }
  .banner__tittle-color {
    font-size: 48px;
  }
  .banner__elispsis-ice {
    width: 346px;
    height: 344px;
    top: 100px;
    left: 20px;
  }
  .banner__right {
    z-index: 3;
  }
  .banner__img-ice {
    width: 171px;
    height: 410px;
    top: 14px;
    left: 80px;
  }
}
@media screen and (max-width: 768px) {
  .banner__tittle-clear {
    font-size: 22px;
    white-space: normal;
  }
  .banner__tittle-color {
    font-size: 34px;
  }
  .banner__right {
    width: 400px;
  }
  .banner__elispsis-ice {
    width: 335px;
    height: 333px;
    top: 100px;
    left: 320px;
  }
  .banner__img-ice {
    width: 143px;
    height: 336px;
    top: 14px;
    left: 80px;
  }
  .banner__img-cliente {
    position: absolute;
    left: 240px;
    top: 200px;
    width: 190px;
    height: 150px;
  }
  .banner__info-points {
    position: absolute;
    left: 330px;
    top: 10px;
  }
  .banner {
    height: 340px;
    padding: 0px 20px 0px 20px;
    padding-top: 20px;
  }
}
.grid__produccts {
  justify-content: space-between;
  gap: 32px;
}

.products {
  padding: 0px 16px 60px 16px;
}

.products__tittle {
  margin-top: 61px;
  color: #ffa5ba;
  text-align: center;
  font-family: Titan One;
  font-size: 30px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.products__tittle2 {
  color: #d41443;
  text-align: center;
  font-family: Titan One;
  font-size: 58px;
  letter-spacing: 3.48px;
  text-transform: uppercase;
}

.product {
  width: 368px;
  height: 535px;
  margin-top: 261px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding: 0px 32px 0px 32px;
}

.product--cream {
  background-color: #ffb8ca;
}

.product--coffee {
  background-color: #f0d1a5;
}

.product--milkshakes {
  background-color: #c2e297;
}

.product__name {
  margin-top: 173px;
  color: #fff;
  font-family: Titan One;
  font-size: 30px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.product__icon {
  fill: #fff;
  margin-top: 32px;
}

.product__description {
  text-align: center;
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 28.16px;
  letter-spacing: 0.64px;
  margin-top: 32px;
}

.product__button {
  margin-top: 32px;
  width: 38px;
  height: 40px;
  fill: #d41443;
}

.product__image {
  position: absolute;
  top: 861px;
}

@media screen and (max-width: 480px) {
  .products {
    padding: 0px 16px 60px 16px;
  }
  .products__tittle {
    font-size: 18px;
  }
  .products__tittle2 {
    font-size: 34px;
  }
  .product {
    width: 280px;
    height: 489px;
    margin-top: 148px;
  }
  .grid__produccts {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .product__image {
    width: 280px;
    height: 280px;
  }
  .product__image--1 {
    top: 661px;
  }
  .product__image--2 {
    top: 1300px;
  }
  .product__image--3 {
    top: 1940px;
  }
}
@media screen and (max-width: 768px) {
  .products {
    padding: 0px 16px 60px 16px;
  }
  .products__tittle {
    font-size: 18px;
  }
  .products__tittle2 {
    font-size: 34px;
  }
  .product {
    width: 224px;
    height: 473px;
    margin-top: 148px;
  }
  .grid__produccts {
    gap: 16px;
  }
  .product__image {
    width: 224px;
    height: 224px;
    top: 611px;
  }
  .banner__slide--leche {
    width: 152px;
    height: 154px;
  }
  .banner__buttons .button {
    width: 82px;
    height: 24px;
    font-size: 8px;
  }
  .product__name {
    margin-top: 130px;
  }
  .product__icon {
    margin-top: 22px;
  }
  .product__description {
    margin-top: 22px;
  }
  .product__button {
    margin-top: 22px;
  }
}
.section-3 {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 767px;
}
@media screen and (min-width: 768px) {
  .section-3 {
    min-width: 768px;
    max-width: 1279px;
  }
}
@media screen and (min-width: 1280px) {
  .section-3 {
    min-width: 1280px;
    max-width: 1600px;
  }
}

.tradition {
  min-width: 320px;
  max-width: 767px;
  background: #fff5f6;
}
@media screen and (min-width: 768px) {
  .tradition {
    min-width: 768px;
    max-width: 1279px;
  }
}
@media screen and (min-width: 1280px) {
  .tradition {
    min-width: 1280px;
    max-width: 1600px;
  }
}

.tradition__caption {
  font-family: titan one;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  vertical-align: Top;
  text-align: center;
  color: #ffa5ba;
  margin: 0;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .tradition__caption {
    font-size: 26px;
    line-height: normal;
  }
}
@media screen and (min-width: 1280px) {
  .tradition__caption {
    font-size: 30px;
    line-height: 34.35px;
  }
}

.tradition__title {
  font-family: titan one;
  font-weight: 400;
  font-size: 34px;
  line-height: normal;
  vertical-align: Top;
  letter-spacing: 0.06em;
  text-align: center;
  justify-content: center;
  color: #d41443;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .tradition__title {
    font-size: 48px;
    line-height: normal;
  }
}
@media screen and (min-width: 1280px) {
  .tradition__title {
    font-size: 58px;
    line-height: normal;
  }
}

.background {
  background-image: url(../images/bg-aboute-desktop.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.vaca {
  height: 548px;
  gap: 14%;
}
@media screen and (min-width: 768px) {
  .vaca {
    display: flex;
    flex-direction: row;
  }
}
.vaca__img {
  padding-left: 45px;
}

.vaca__texto {
  width: 400px;
  padding-top: 115px;
}
.vaca__parrafo {
  font-family: DM sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  letter-spacing: 0.04em;
  text-align: left;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .vaca__parrafo {
    font-size: 14px;
    line-height: 174%;
  }
}
@media screen and (min-width: 1280px) {
  .vaca__parrafo {
    font-size: 16px;
    line-height: 176%;
  }
}

.vaca__parrafos {
  margin-top: 32px;
  font-family: DM sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 162%;
  letter-spacing: 0.04em;
  text-align: left;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .vaca__parrafos {
    font-size: 14px;
    line-height: 194%;
  }
}
@media screen and (min-width: 1280px) {
  .vaca__parrafos {
    font-size: 14px;
    line-height: 196%;
  }
}

.vaca__button {
  margin-top: 40px;
}

.tradition__options {
  padding: 0px 16px 179px 16px;
  display: flex;
  gap: 176px;
}

.tradition__option {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 270px;
  margin: 0 30px 0 0;
}

.tradition__numeros {
  margin-top: 40px;
  margin-bottom: 16px;
  font-family: Titan One;
  font-size: 58px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0.04em;
  color: #d41443;
}

.tradition__texto-numero {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: right;
  color: #000000;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
}

.vaca__item {
  list-style: none;
}

/*------------section----------4*/
.section-gallery {
  position: absolute;
  top: 2700px;
  left: 255px;
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 767px;
}
@media screen and (min-width: 768px) {
  .section-gallery {
    min-width: 768px;
    max-width: 1279px;
  }
}
@media screen and (min-width: 1280px) {
  .section-gallery {
    min-width: 1280px;
    max-width: 1600px;
  }
}

.photo-gallery__menu {
  display: grid;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 5px;
  min-width: 320px;
  max-width: 767px;
}
@media screen and (min-width: 768px) {
  .photo-gallery__menu {
    min-width: 768px;
    max-width: 1279px;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery__menu {
    min-width: 1280px;
    max-width: 1600px;
  }
}

.photo-gallery__item {
  border-radius: 20px;
  list-style: none;
}

.item1 {
  grid-column-end: 9;
  grid-column-start: 4;
  grid-row-start: 5;
  grid-row-end: 9;
}

.item4 {
  grid-column-end: 24;
  grid-column-start: 14;
  grid-row-start: 1;
  grid-row-end: 9;
}

.item2 {
  grid-column-end: 9;
  grid-column-start: 14;
  grid-row-start: 3;
  grid-row-end: 7;
}

.item3 {
  grid-column-end: 9;
  grid-column-start: 14;
  grid-row-start: 7;
  grid-row-end: 11;
}

.item5 {
  grid-column-end: 14;
  grid-column-start: 19;
  grid-row-start: 9;
  grid-row-end: 13;
}

.item6 {
  grid-column-end: 24;
  grid-column-start: 29;
  grid-row-start: 3;
  grid-row-end: 7;
}

.item7 {
  grid-column-end: 24;
  grid-column-start: 29;
  grid-row-start: 7;
  grid-row-end: 11;
}

.item8 {
  grid-column-end: 29;
  grid-column-start: 34;
  grid-row-start: 2;
  grid-row-end: 6;
}

.item9 {
  grid-column-end: 29;
  grid-column-start: 34;
  grid-row-start: 6;
  grid-row-end: 10;
}

.item10 {
  grid-column-end: 39;
  grid-column-start: 34;
  grid-row-start: 4;
  grid-row-end: 8;
}

.item6,
.item7,
.item8,
.item9,
.item10 {
  margin: 15px 0 -15px 0;
}

.Photo-gallery__img {
  width: 100%;
  height: 100%;
}

.comments {
  margin-top: 406px;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  max-width: 768px;
}
@media screen and (min-width: 768px) {
  .comments {
    min-width: 768px;
    max-width: 1280px;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    min-width: 1280px;
    max-width: 1600px;
  }
}

.comments__imgprofile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.comments__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.comments__box-svg {
  margin-left: -170px;
  margin-top: 52px;
}
@media screen and (min-width: 768px) {
  .comments__box-svg {
    margin-left: -650px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .comments__box-svg {
    margin-left: -740px;
    margin-top: 10px;
  }
}

.comments__box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  height: 307px;
  flex-shrink: 0;
  background-color: #fafafa;
  justify-content: center;
  align-items: center;
  padding-bottom: 39px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .comments__box-text {
    width: 740px;
    height: 138px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .comments__box-text {
    width: 968px;
    height: 138px;
    font-size: 16px;
  }
}

.comments__text {
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  width: 157px;
  height: 213px;
  -webkit-text-decoration: underline solid #e1e1e1 3px;
          text-decoration: underline solid #e1e1e1 3px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .comments__text {
    width: 710px;
    height: 52px;
    font-size: 16px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .comments__text {
    width: 750px;
    height: 52px;
  }
}

.comments__comands__text {
  margin-top: 16px;
  margin-bottom: 16px;
}

.comments__comands {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
  cursor: pointer;
}

.section-locations {
  background-color: #fff5f6;
  height: 600px;
  min-width: 320px;
  max-width: 767px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 120px;
}
@media screen and (min-width: 768px) {
  .section-locations {
    min-width: 768px;
    max-width: 1279px;
  }
}
@media screen and (min-width: 1280px) {
  .section-locations {
    min-width: 1280px;
    max-width: 1600px;
  }
}

.section-locations__cards-list {
  position: absolute;
  top: 3650px;
  left: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .section-locations__cards-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .section-locations__cards-list {
    flex-direction: row;
  }
}

.section-locations__cards {
  width: 280px;
  height: 412px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
}
@media screen and (min-width: 768px) {
  .section-locations__cards {
    width: 224px;
    height: 528px;
  }
}
@media screen and (min-width: 1280px) {
  .section-locations__cards {
    width: 368px;
    height: 538px;
  }
}

.section-locations__cards__local--1 {
  width: 75.103px;
  height: 28px;
  flex-shrink: 0;
  background-color: #f0d1a5;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 32px;
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  .section-locations__cards__local--1 {
    font-size: 14px;
  }
}

.section-locations__cards__local--2 {
  width: 150px;
  height: 28px;
  flex-shrink: 0;
  background-color: #c2e297;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .section-locations__cards__local--2 {
    font-size: 14px;
  }
}

.section-locations__cards__local--3 {
  width: 75.103px;
  height: 28px;
  flex-shrink: 0;
  background-color: #ffb8ca;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .section-locations__cards__local--3 {
    font-size: 14px;
  }
}

.section-locations__cards__city {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  margin-left: 40px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .section-locations__cards__city {
    font-size: 16px;
    line-height: 150%;
  }
}

.section-locations__cards__description {
  color: #907e82;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .section-locations__cards__description {
    font-size: 14px;
    line-height: 183%;
  }
}
@media screen and (min-width: 1280px) {
  .section-locations__cards__description {
    font-size: 16px;
    line-height: 183%;
  }
}

.section-locations__cards__svg {
  margin-left: 40px;
  width: 216px;
}
@media screen and (min-width: 768px) {
  .section-locations__cards__svg {
    width: 160px;
  }
}
@media screen and (min-width: 1280px) {
  .section-locations__cards__svg {
    width: 288px;
  }
}

.section-locations__cards__days {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .section-locations__cards__days {
    font-size: 14px;
    line-height: 183%;
  }
}
@media screen and (min-width: 1280px) {
  .section-locations__cards__days {
    font-size: 16px;
    line-height: 183%;
  }
}

.section-locations__cards__hours {
  color: #ffa5ba;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 186%;
}
@media screen and (min-width: 768px) {
  .section-locations__cards__hours {
    font-size: 14px;
    line-height: 183%;
  }
}
@media screen and (min-width: 1280px) {
  .section-locations__cards__hours {
    font-size: 16px;
    line-height: 183%;
  }
}

.section-locations__cards__contact {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 15px;
}

.section-locations__cards__contact-list {
  text-decoration: none;
  color: #907e82;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 183%;
}
@media screen and (min-width: 768px) {
  .section-locations__cards__contact-list {
    font-size: 14px;
    line-height: 183%;
  }
}
@media screen and (min-width: 1280px) {
  .section-locations__cards__contact-list {
    font-size: 16px;
    line-height: 183%;
  }
}

.section-locations__cards__contact-list:hover,
.section-locations__cards__contact-list:focus {
  color: #d41342;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-locations__btn-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .section-locations__btn-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.section-locations__btn-list--btn-1 {
  width: 198px;
  height: 44px;
  border-radius: 22px;
  background-color: #d41342;
  border: none;
  color: #ffffff;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  margin: 6px;
}

.section-locations__btn-list--btn-1:hover,
.section-locations__btn-list--btn-1:focus {
  background-color: #ffffff;
  color: #d41342;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-locations__btn-list--btn-2 {
  width: 168px;
  height: 44px;
  border-radius: 22px;
  background: #ffffff;
  border: none;
  color: #d41342;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  margin: 6px;
}

.section-locations__btn-list--btn-2:hover,
.section-locations__btn-list--btn-2:focus {
  background-color: #d41342;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-locations__btn-list__svg {
  margin-left: 10px;
}

.footer {
  min-width: 320px;
}
@media screen and (min-width: 768px) {
  .footer {
    min-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1600px;
    min-width: 1280px;
  }
}

.footer__page {
  background-color: #fff5f6;
  padding: 0px 16px 60px 16px;
}

.footer__div {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__div {
    min-width: 768px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__div {
    min-width: 768px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__text__title-1 {
  color: #ffa5ba;
  font-family: Titan One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 121px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .footer__text__title-1 {
    font-size: 26px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 768px) {
  .footer__text__title-1 {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}

.footer__text__title-2 {
  color: #d41342;
  font-family: Titan One;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 0px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .footer__text__title-2 {
    font-size: 48px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .footer__text__title-2 {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}

.footer__div__socialmedia-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 121px;
}

.footer__div__socialmedia-list__item {
  margin: 3.5px;
}
@media screen and (min-width: 768px) {
  .footer__div__socialmedia-list__item {
    margin: 7px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__div__socialmedia-list__item {
    margin: 15px;
  }
}

.footer__div__socialmedia-list__itemsvg {
  cursor: pointer;
}

.footer__div__socialmedia-list__itemsvg:hover,
.footer__div__socialmedia-list__itemsvg:focus {
  fill: #d41342;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__div__socialmedia-tel {
  text-decoration: none;
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.32px;
}
@media screen and (min-width: 768px) {
  .footer__div__socialmedia-tel {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__div__socialmedia-tel {
    font-size: 16px;
  }
}

.footer__div__socialmedia-tel--color {
  color: #d41342;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.32px;
}
@media screen and (min-width: 768px) {
  .footer__div__socialmedia-tel--color {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__div__socialmedia-tel--color {
    font-size: 16px;
  }
}

.footer__svg {
  margin-top: 60px;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .footer__svg {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__svg {
    width: 1280px;
  }
}

.footer__copy {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 60px;
}

.footer__copy__line {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width: 1167px;
  height: 1px;
  border-top: 1px solid #e1e1e1;
  padding-top: 7px;
}

.footer__end-text {
  color: #907e82;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.28px;
  cursor: pointer;
}

.footer__end-text:hover,
.footer__end-text:focus {
  color: #d41342;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=index.css.map */