@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Roboto:wght@400;500;700;900&family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  width: 1280px;
  margin: 0 auto;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #000;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: inherit;
}

ul {
  list-style: none;
}

p,
ul,
h1,
h2,
h3,
h4,
h6 {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

.flex {
  display: flex;
}

.page-header {
  height: 60px;
  background-color: #ffb8ca;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 10px 0;
}

.page-nav {
  z-index: 2;
}

.nav {
  display: flex;
  gap: 35px;
  font-size: 16px;
  font-weight: 700;
  z-index: 3;
}

.nav__link {
  color: #fff;
  transition: color 0.3s;
}

.active {
  color: #d41443;
}

.nav__link:hover {
  color: #d41443;
}

.button {
  border-radius: 22px;
  width: 159px;
  height: 44px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button__icon {
  margin: 3px 0px 0px 7px;
  fill: #d41443;
}

.button__clear {
  background-color: #fff;
  color: #d41443;
  fill: #d41443;
}

.button__active {
  background-color: #d41443;
  color: #fff;
}

.banner {
  background-color: #ffb8ca;
  height: 515px;
  padding: 0px 20px 0px 20px;
  padding-top: 60px;
}

.banner__right {
  width: 557px;
}

.banner__tittle {
  font-family: "Titan One";
  letter-spacing: 1.52px;
  text-transform: uppercase;
}

.banner__tittle-clear {
  color: #fff;
  font-size: 38px;
}

.banner__tittle-color {
  color: #d41443;
  font-size: 58px;
}

.banner__buttons {
  margin-top: 24px;
  gap: 12px;
}
.banner__buttons .button {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s;
  fill: #d41443;
}
.banner__buttons .button__active {
  width: 107px;
}

.button:hover {
  background-color: #d41443;
  color: #fff;
  fill: #fff;
}

.banner__slide {
  margin-top: 40px;
  align-items: flex-end;
}

.banner__slide__info {
  width: 200px;
  color: #fff;
  font-family: "DM Sans";
  font-size: 14px;
  line-height: 19.6px;
}

.banner__button__slide {
  margin-top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #d41443;
  cursor: pointer;
}

.banner__elispsis-ice {
  width: 534px;
  height: 534px;
  border-radius: 534px;
  background: #ffa5ba;
}

.banner__elispsis-ice {
  position: absolute;
  top: 60px;
}

.banner__img-ice {
  position: absolute;
  top: 54px;
  left: 119px;
}

.banner__img-cliente {
  position: absolute;
  left: 363px;
  top: 369px;
}

.banner__info-points {
  position: absolute;
  left: 575px;
  top: 120px;
  background-color: #ffb8ca;
  width: 92px;
}

.number-points {
  color: #d41443;
  text-align: right;
  font-family: "Titan One";
  font-size: 46px;
  z-index: 3;
}

.text-info-points {
  color: #fff;
  text-align: right;
  font-family: "DM Sans";
  font-size: 14px;
}

.banner__elipsis__points {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}

.elipsis-position {
  left: 82px;
}

.points-food {
  margin-top: 33px;
}

.grid__produccts {
  justify-content: space-between;
  gap: 32px;
}

.products {
  padding: 0px 16px 0px 16px;
}

.products__tittle {
  margin-top: 61px;
  color: #ffa5ba;
  text-align: center;
  font-family: Titan One;
  font-size: 30px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.products__tittle2 {
  color: #d41443;
  text-align: center;
  font-family: Titan One;
  font-size: 58px;
  letter-spacing: 3.48px;
  text-transform: uppercase;
}

.product {
  width: 368px;
  height: 535px;
  margin-top: 261px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding: 0px 32px 0px 32px;
}

.product--cream {
  background-color: #ffb8ca;
}

.product--coffee {
  background-color: #f0d1a5;
}

.product--milkshakes {
  background-color: #c2e297;
}

.product__name {
  margin-top: 173px;
  color: #fff;
  font-family: Titan One;
  font-size: 30px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.product__icon {
  fill: #fff;
  margin-top: 32px;
}

.product__description {
  text-align: center;
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 28.16px;
  letter-spacing: 0.64px;
  margin-top: 32px;
}

.product__button {
  margin-top: 32px;
  width: 38px;
  height: 40px;
  fill: #d41443;
}

.product__image {
  position: absolute;
  top: 861px;
}/*# sourceMappingURL=index.css.map */