@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Roboto:wght@400;500;700;900&family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
body {
  font-family: "DM Sans";
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
  max-width: 480px;
  min-width: 320px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1290px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section-locations {
  max-width: 1600px;
  min-width: 1280px;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF5F6;
}

.section-locations__cards-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-locations__cards {
  width: 368px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
}

.section-locations__cards__local--1 {
  width: 75.103px;
  height: 28px;
  flex-shrink: 0;
  background-color: #F0D1A5;
  border-radius: 10px;
  color: #FFF;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 40px;
}

.section-locations__cards__local--2 {
  width: 150px;
  height: 28px;
  flex-shrink: 0;
  background-color: #C2E297;
  border-radius: 10px;
  color: #FFF;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 40px;
}

.section-locations__cards__local--3 {
  width: 75.103px;
  height: 28px;
  flex-shrink: 0;
  background-color: #FFB8CA;
  border-radius: 10px;
  color: #FFF;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 40px;
}

.section-locations__cards__city {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  margin-left: 40px;
  margin-bottom: 0;
}

.section-locations__cards__description {
  color: #907E82;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 183%;
  letter-spacing: 0.04em;
  margin-left: 40px;
}

.section-locations__cards__svg {
  margin-left: 40px;
}

.section-locations__cards__days {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  margin-left: 40px;
}

.section-locations__cards__hours {
  color: #FFA5BA;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
}

.section-locations__cards__contact {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 15px;
}

.section-locations__cards__contact-list {
  text-decoration: none;
  color: #907E82;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 183%;
}

.section-locations__cards__contact-list:hover, .section-locations__cards__contact-list:focus {
  color: #D41342;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-locations__btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.section-locations__btn-list--btn-1 {
  width: 198px;
  height: 44px;
  border-radius: 22px;
  background-color: #D41342;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  margin: 6px;
}

.section-locations__btn-list--btn-1:hover,
.section-locations__btn-list--btn-1:focus {
  background-color: #FFF;
  color: #D41342;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-locations__btn-list--btn-2 {
  width: 168px;
  height: 44px;
  border-radius: 22px;
  background: #FFF;
  border: none;
  color: #D41342;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  margin: 6px;
}

.section-locations__btn-list--btn-2:hover, .section-locations__btn-list--btn-2:focus {
  background-color: #D41342;
  color: #FFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-locations__btn-list__svg {
  margin-left: 10px;
}

.footer {
  max-width: 1600px;
  min-width: 1280px;
}

.container {
  max-width: 100%;
}

.footer__div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__text__title-1 {
  color: #FFA5BA;
  font-family: Titan One;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 121px;
}

.footer__text__title-2 {
  color: #D41443;
  font-family: Titan One;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
}

.footer__div__socialmedia-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 121px;
}

.footer__div__socialmedia-list__item {
  margin: 15px;
}

.footer__div__socialmedia-list__itemsvg {
  cursor: pointer;
}

.footer__div__socialmedia-list__itemsvg:hover, .footer__div__socialmedia-list__itemsvg:focus {
  fill: #D41443;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__div__socialmedia-tel {
  text-decoration: none;
  color: #000;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.32px;
}

.footer__div__socialmedia-tel--color {
  color: #D41443;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.32px;
}

.footer__svg {
  margin-top: 60px;
}

.footer__end-text {
  color: #907E82;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.28px;
  cursor: pointer;
}

.footer__end-text:hover, .footer__end-text:focus {
  color: #D41443;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=index.css.map */