$pinkBase: #ffb8ca;
$pinkSoft: #fff5f6;
$textClear: #fff;
$textDark: #000;
$text: #907e82;
$textActive: #d41443;
$label-color: #212121;
$logo-font: "Raleway";
$brandFont: "DM Sans";
$icon-color: #afb1b8;
