$pinkBase: #ffb8ca;
$pinkSoft: #fff5f6;
$textClear: #fff;
$textDark: #000;
$text: #907e82;
$textActive: #d41443;
$label-color: #212121;
$logo-font: 'Raleway';
$brandFont: 'DM Sans';
$icon-color: #afb1b8;

$color-white: #fff;
$color-pink: #ffa5ba;
$color-background-s5: #fff5f6;
$color-beige: #f0d1a5;
$color-green: #c2e297;
$color-pink2: #ffb8ca;
$color-black: #000;
$color-gray: #907e82;
$color-red: #d41342;

$color-grey-1: #907e82;
$color-black-1: #000000;
$color-red-1: #d41443;
$color-white: #ffffff;
$color-pink-3: #ffa5ba;
$color-pink-2: #fff5f6;
$color-pink-1: #ffb8ca;
