<header class="page-header">
  <a href="" class="logo__image">
    <svg class="button__icon" width="199" height="50">
      <use href="./images/icons.svg#icon-logo"></use>
    </svg>
  </a>
  <nav class="page-nav">
    <ul class="nav">
      <li class="nav__item">
        <a class="nav__link active" href="">Home</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="">About us</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="">How it?s made?</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="">Our products</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="">Contact</a>
      </li>
    </ul>
  </nav>
  <button type="submit" class="button button__clear">
    Buy Now
    <svg class="button__icon" width="10" height="10">
      <use href="./images/icons.svg#icon-flecha"></use>
    </svg>
  </button>
</header>
