<section class="home">
    <div class="container">
        <header class="page-header">
            <a href="" class="logo">
                <img
                class="logo__image"
                src=""
                alt="Logotipo de la compañía icecream"
                />
            </a>
            <nav class="page-nav">
                <ul class="nav">
                    <li class="nav__item">
                    <a class="nav__link" href="">Sobre nosotros</a>
                    </li>
                    <li class="nav__item">
                    <a class="nav__link" href="">Contáctos</a>
                    </li>
                    <li class="nav__item">
                    <a class="nav__link" href="">Galería>
                    </li>
                </ul>
            </nav>
            <button class="button" type="button">
                <svg class="button__icon">...</svg>
                <span class="button__label">En la papelera</span>
            </button>
        </header>
    </div>
</section>