<section class="banner flex">
  <div class="banner__right">
    <div class="banner__overlay__slide">
      <h1 class="banner__tittle banner__tittle-clear">ice cream made with</h1>
      <h1 class="banner__tittle banner__tittle-color">pasion</h1>
      <div class="banner__buttons flex">
        <button type="submit" class="button button__active">Products</button>
        <button type="submit" class="button button__clear">
          How it?s made?
        </button>
      </div>
    </div>
    <div class="banner__slide flex hidden">
      <img
        src="./images/sliderB.png"
        alt="Vaso de leche"
        width="213"
        height="216"
      />
      <div class="banner__slide__info">
        <p>
          Indulge in a scoop of ice cream made with passion and treat your taste
          buds to an unforgettable experience!
        </p>
        <button class="button banner__button__slide" type="button">
          <svg class="button_icon" width="10" height="10">
            <use href="./images/icons.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="banner-left">
    <div class="banner__images">
      <div class="banner__elispsis-ice">
        <img
          src="./images/helado.png"
          width="236"
          height="557"
          alt="Cono de helado con 6 bolas"
          class="banner__img-ice"
        />
        <img
          src="./images/cliente.png"
          width="304"
          height="241"
          alt="Cono de helado con 6 bolas"
          class="banner__img-cliente hidden"
        />
        <div class="banner__info-points hidden">
          <div class="points-coffee">
            <div class="banner__elipsis__points elipsis-position"></div>
            <p class="number-points">16</p>
            <p class="text-info-points">cafes</p>
          </div>
          <div class="points-food">
            <div class="banner__elipsis__points elipsis-position"></div>
            <p class="number-points">23</p>
            <p class="text-info-points">food trucks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
