<section class="section-locations">
  <div class="locations_components container">
 <div class="section-locations__cards-list">

    <!----------------------------------------------card1---------------------------------------->
<div class="section-locations__cards">
      <div class="section-locations__cards__local--1">Cafe</div>
      
      <h4 class="section-locations__cards__city">Chicago</h4>
      <p class="section-locations__cards__description">
        Handcrafted coffee, baked goods, and premium ice cream.
      </p>
    
      <div class="section-locations__cards__schedule">
        <h5 class="section-locations__cards__days">Monday - Friday</h4>
        <p class="section-locations__cards__hours">06:00 AM - 10:00 PM</p>
        <h5 class="section-locations__cards__days">Saturday - Sunday</h4>
        <p class="section-locations__cards__hours">08:00 AM - 16:00 PM</p>
      </div>
      <div class="section-locations__cards__contact">
           <a class="section-locations__cards__contact-list" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
           <a class="section-locations__cards__contact-list" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </div>

    <!----------------------------------------------card2---------------------------------------->
    <div class="section-locations__cards">
      <div class="section-locations__cards__local--2">Food Truck</div>
      
      <h4 class="section-locations__cards__city">Los Angeles</h4>
      <p class="section-locations__cards__description">
        Fusion cuisine and refreshing ice cream made with passion.
      </p>
    
      <div class="section-locations__cards__schedule">
        <h5 class="section-locations__cards__days">Monday - Friday</h4>
        <p class="section-locations__cards__hours">06:00 AM - 10:00 PM</p>
        <h5 class="section-locations__cards__days">Saturday - Sunday</h4>
        <p class="section-locations__cards__hours">08:00 AM - 16:00 PM</p>
      </div>
      <div class="section-locations__cards__contact">
           <a class="section-locations__cards__contact-list" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
           <a class="section-locations__cards__contact-list" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </div>

    <!----------------------------------------------card33---------------------------------------->
    <div class="section-locations__cards">
      <div class="section-locations__cards__local--3">Cafe</div>
      <h4 class="section-locations__cards__city">New York</h4>
      <p class="section-locations__cards__description">
        Specialty teas, artisanal pastries, mouth-watering ice cream.
      </p>
      <div class="section-locations__schedule">
        <h5 class="section-locations__cards__days">Monday - Friday</h4>
        <p class="section-locations__cards__hours">06:00 AM - 10:00 PM</p>
        <h5 class="section-locations__cards__days">Saturday - Sunday</h4>
        <p class="section-locations__cards__hours">08:00 AM - 16:00 PM</p>
      </div>
      <div class="section-locations__cards__contact">
           <a class="section-locations__cards__contact-list" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
           <a class="section-locations__cards__contact-list" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </div>
     </div>
  
<div class="section-locations__btn-list">
    <button class="section-locations__btn-list--btn-1">Our Locations</button>
    <button class="section-locations__btn-list--btn-2">Franchise</button>
</div>

    </div>
</section>
   
