<section class="section-locations">
  <div class="locations_components container">
 <div class="section-locations__cards-list">

    <!----------------------------------------------card1---------------------------------------->
<div class="section-locations__cards">
      <div class="section-locations__cards__local--1">Cafe</div>
      
      <h4 class="section-locations__cards__city">Chicago</h4>
      <p class="section-locations__cards__description">
        Handcrafted coffee, baked goods, and premium ice cream.
      </p>
    <svg class="section-locations__cards__svg" xmlns="http://www.w3.org/2000/svg" width="288" height="2" viewBox="0 0 288 2" fill="none">
  <path d="M0 1H288" stroke="#E1E1E1"/>
</svg>
      <div class="section-locations__cards__schedule">
        <h5 class="section-locations__cards__days">Monday - Friday</h4>
        <p class="section-locations__cards__hours">06:00 AM - 10:00 PM</p>
        <h5 class="section-locations__cards__days">Saturday - Sunday</h4>
        <p class="section-locations__cards__hours">08:00 AM - 16:00 PM</p>
      </div>
       <svg class="section-locations__cards__svg" xmlns="http://www.w3.org/2000/svg" width="288" height="2" viewBox="0 0 288 2" fill="none">
  <path d="M0 1H288" stroke="#E1E1E1"/>
</svg>
      <div class="section-locations__cards__contact">
           <a class="section-locations__cards__contact-list" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
           <a class="section-locations__cards__contact-list" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </div>

    <!----------------------------------------------card2---------------------------------------->
    <div class="section-locations__cards">
      <div class="section-locations__cards__local--2">Food Truck</div>
      
      <h4 class="section-locations__cards__city">Los Angeles</h4>
      <p class="section-locations__cards__description">
        Fusion cuisine and refreshing ice cream made with passion.
      </p>
    <svg class="section-locations__cards__svg" xmlns="http://www.w3.org/2000/svg" width="288" height="2" viewBox="0 0 288 2" fill="none">
  <path d="M0 1H288" stroke="#E1E1E1"/>
</svg>
      <div class="section-locations__cards__schedule">
        <h5 class="section-locations__cards__days">Monday - Friday</h4>
        <p class="section-locations__cards__hours">06:00 AM - 10:00 PM</p>
        <h5 class="section-locations__cards__days">Saturday - Sunday</h4>
        <p class="section-locations__cards__hours">08:00 AM - 16:00 PM</p>
      </div>
      <svg class="section-locations__cards__svg" xmlns="http://www.w3.org/2000/svg" width="288" height="2" viewBox="0 0 288 2" fill="none">
  <path d="M0 1H288" stroke="#E1E1E1"/>
</svg>
      <div class="section-locations__cards__contact">
           <a class="section-locations__cards__contact-list" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
           <a class="section-locations__cards__contact-list" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </div>

    <!----------------------------------------------card33---------------------------------------->
    <div class="section-locations__cards">
      <div class="section-locations__cards__local--3">Cafe</div>
      <h4 class="section-locations__cards__city">New York</h4>
      <p class="section-locations__cards__description">
        Specialty teas, artisanal pastries, mouth-watering ice cream.
      </p>
      <svg class="section-locations__cards__svg" xmlns="http://www.w3.org/2000/svg" width="288" height="2" viewBox="0 0 288 2" fill="none">
  <path d="M0 1H288" stroke="#E1E1E1"/>
</svg>
      <div class="section-locations__schedule">
        <h5 class="section-locations__cards__days">Monday - Friday</h4>
        <p class="section-locations__cards__hours">06:00 AM - 10:00 PM</p>
        <h5 class="section-locations__cards__days">Saturday - Sunday</h4>
        <p class="section-locations__cards__hours">08:00 AM - 16:00 PM</p>
      </div>
      <svg class="section-locations__cards__svg" xmlns="http://www.w3.org/2000/svg" width="288" height="2" viewBox="0 0 288 2" fill="none">
  <path d="M0 1H288" stroke="#E1E1E1"/>
</svg>
      <div class="section-locations__cards__contact">
           <a class="section-locations__cards__contact-list" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
           <a class="section-locations__cards__contact-list" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </div>
     </div>
  
<div class="section-locations__btn-list">
    <button class="section-locations__btn-list--btn-1">Our Locations<svg class="section-locations__btn-list__svg" xmlns="http://www.w3.org/2000/svg" width="8" height="10" viewBox="0 0 8 10" fill="none">
  <path d="M1.61646 1L6.04413 5L1.61646 9" stroke="#FFA5BA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></button>
    <button class="section-locations__btn-list--btn-2">Franchise<svg class="section-locations__btn-list__svg" xmlns="http://www.w3.org/2000/svg" width="8" height="10" viewBox="0 0 8 10" fill="none">
  <path d="M1.61646 1L6.04413 5L1.61646 9" stroke="#FFA5BA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></button>
</div>

    </div>
</section>
   
