<section class="section-gallery">
  <div class="Photo-gallery__container">
    <ul class="photo-gallery__menu grid-container">
      <li class="photo-gallery__item item1">
        <picture>
          <source
            media="(min-whidth: 1280px)"
            srcset="
                          ./images/desktop/gallery-section/pic1_1x.jpg
                          ./images/desktop/gallery-section/pic1@2x.jpg"
          />
          <source
            media="(max-widht: 768px)"
            srcset="
                          ./images/mobile/gallery-section/pic1_1x.jpg
                          ./images/mobile/gallery-section/pic1@2x.jpg"
          />
          <source
            media="(min-whidth:768 px)"
            srcset="
                          ./images/tablet/gallery-section/pic1_1x.jpg
                          ./images/tablet/gallery-section/pic2@2x.jpg"
          />
          <img class="Photo-gallery__img" src="./images/imagen-1.png" alt="#" />
        </picture>
      </li>
      <li class="photo-gallery__item item2">
        <picture>
          <source
            media="(min-whidth: 1280px)"
            srcset="
                          ./images/desktop/gallery-section/pic2_1x.jpg
                          ./images/desktop/gallery-section/pic2@2x.jpg"
          />
          <source
            media="(max-widht: 767px)"
            srcset="
                          ./images/mobile/gallery-section/pic2_1x.jpg
                          ./images/mobile/gallery-section/pic2@2x.jpg"
          />
          <source
            media="(min-whidth:768 px)"
            srcset="
                          ./images/tablet/gallery-section/pic2_1x.jpg
                          ./images/tablet/gallery-section/pic2@2x.jpg"
          />
          <img class="Photo-gallery__img" src="./images/imagen-2.png" alt="#" />
        </picture>
      </li>
      <li class="photo-gallery__item item3">
        <picture>
          <source
            media="(min-whidth: 1280px)"
            srcset="
                          ./images/desktop/gallery-section/pic3_1x.jpg
                          ./images/desktop/gallery-section/pic3@2x.jpg"
          />
          <source
            media="(max-widht: 767px)"
            srcset="
                          ./images/mobile/gallery-section/pic3_1x.jpg
                          ./images/mobile/gallery-section/pic3@2x.jpg"
          />
          <source
            media="(min-whidth:768 px)"
            srcset="
                          ./images/tablet/gallery-section/pic3_1x.jpg
                          ./images/tablet/gallery-section/pic3@2x.jpg"
          />
          <img class="Photo-gallery__img" src="./images/imagen-3.png" alt="#" />
        </picture>
      </li>
      <li class="photo-gallery__item item4">
        <picture>
          <source
            media="(min-whidth: 1280px)"
            srcset="
                          ./images/desktop/gallery-section/pic4_1x.jpg
                          ./images/desktop/gallery-section/pic4@2x.jpg"
          />
          <source
            media="(max-widht: 767px)"
            srcset="
                          ./images/mobile/gallery-section/pic4_1x.jpg
                          ./images/mobile/gallery-section/pic4@2x.jpg"
          />
          <source
            media="(min-whidth:768 px)"
            srcset="
                          ./images/tablet/gallery-section/pic4_1x.jpg
                          ./images/tablet/gallery-section/pic4@2x.jpg"
          />
          <img class="Photo-gallery__img" src="./images/imagen-4.png" alt="#" />
        </picture>
      </li>
      <li class="photo-gallery__item item5">
        <picture>
          <source
            media="(min-whidth: 1280px)"
            srcset="
                          ./images/desktop/gallery-section/pic5_1x.jpg
                          ./images/desktop/gallery-section/pic5@2x.jpg"
          />
          <source
            media="(max-widht: 767px)"
            srcset="
                          ./images/mobile/gallery-section/pic5_1x.jpg
                          ./images/mobile/gallery-section/pic5@2x.jpg"
          />
          <source
            media="(min-whidth:768 px)"
            srcset="
                          ./images/tablet/gallery-section/pic5_1x.jpg
                          ./images/tablet/gallery-section/pic5@2x.jpg"
          />
          <img class="Photo-gallery__img" src="./images/imagen-5.png" alt="#" />
        </picture>
      </li>
      <li class="photo-gallery__item item6">
        <picture>
          <source
            media="(min-whidth: 1280px)"
            srcset="
                          ./images/desktop/gallery-section/pic6_1x.jpg
                          ./images/desktop/gallery-section/pic6@2x.jpg"
          />
          <source
            media="(max-widht: 767px)"
            srcset="
                          ./images/mobile/gallery-section/pic6_1x.jpg
                          ./images/mobile/gallery-section/pic6@2x.jpg"
          />
          <source
            media="(min-whidth:768 px)"
            srcset="
                          ./images/tablet/gallery-section/pic6_1x.jpg
                          ./images/tablet/gallery-section/pic6@2x.jpg"
          />
          <img class="Photo-gallery__img" src="./images/imagen-6.png" alt="#" />
        </picture>
      </li>
      <li class="photo-gallery__item item7">
        <picture>
          <source
            media="(min-whidth: 1280px)"
            srcset="
                          ./images/desktop/gallery-section/pic7_1x.jpg
                          ./images/desktop/gallery-section/pic2@2x.jpg"
          />
          <source
            media="(max-widht: 767px)"
            srcset="
                          ./images/mobile/gallery-section/pic7_1x.jpg
                          ./images/mobile/gallery-section/pic7@2x.jpg"
          />
          <source
            media="(min-whidth:768 px)"
            srcset="
                          ./images/tablet/gallery-section/pic7_1x.jpg
                          ./images/tablet/gallery-section/pic7@2x.jpg"
          />
          <img class="Photo-gallery__img" src="./images/imagen-7.png" alt="#" />
        </picture>
      </li>
      <li class="photo-gallery__item item8">
        <picture>
          <source
            media="(min-whidth: 1280px)"
            srcset="
                          ./images/desktop/gallery-section/pic8_1x.jpg
                          ./images/desktop/gallery-section/pic8@2x.jpg"
          />
          <source
            media="(max-widht: 767px)"
            srcset="
                          ./images/mobile/gallery-section/pic8_1x.jpg
                          ./images/mobile/gallery-section/pic8@2x.jpg"
          />
          <source
            media="(min-whidth:768 px)"
            srcset="
                          ./images/tablet/gallery-section/pic8_1x.jpg
                          ./images/tablet/gallery-section/pic8@2x.jpg"
          />
          <img class="Photo-gallery__img" src="./images/imagen-8.png" alt="#" />
        </picture>
      </li>
      <li class="photo-gallery__item item9">
        <picture>
          <source
            media="(min-whidth: 1280px)"
            srcset="
                          ./images/desktop/gallery-section/pic9_1x.jpg
                          ./images/desktop/gallery-section/pic9@2x.jpg"
          />
          <source
            media="(max-widht: 767px)"
            srcset="
                          ./images/mobile/gallery-section/pic9_1x.jpg
                          ./images/mobile/gallery-section/pic9@2x.jpg"
          />
          <source
            media="(min-whidth:768 px)"
            srcset="
                          ./images/tablet/gallery-section/pic9_1x.jpg
                          ./images/tablet/gallery-section/pic9@2x.jpg"
          />
          <img class="Photo-gallery__img" src="./images/imagen-9.png" alt="#" />
        </picture>
      </li>
      <li class="photo-gallery__item item10">
        <picture>
          <source
            media="(min-whidth: 1280px)"
            srcset="
                          ./images/desktop/gallery-section/pic10_1x.jpg
                          ./images/desktop/gallery-section/pic10@2x.jpg"
          />
          <source
            media="(max-widht: 767px)"
            srcset="
                          ./images/mobile/gallery-section/pic10_1x.jpg
                          ./images/mobile/gallery-section/pic10@2x.jpg"
          />
          <source
            media="(min-whidth:768px)"
            srcset="
                          ./images/tablet/gallery-section/pic10_1x.jpg
                          ./images/tablet/gallery-section/pic10@2xjpg"
          />
          <img
            class="Photo-gallery__img"
            src="./images/imagen-10.png"
            alt="#"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
