<section class="section-3">
  <div class="tradition container">
    <div class="tradition__titles">
      <h3 class="tradition__caption">tradition and love</h3>
      <h1 class="tradition__title">how it’s made?</h1>
    </div>
    <div class="vaca">
      <div class="vaca__img">
        <img class="vaca__imagen" src="./images/vaca.png" alt="cow image" />
      </div>
      <div class="vaca__texto">
        <p class="vaca__parrafo">
          Ice es un lugar donde no solo te volverás un poco más feliz, sino
          también más saludable. La salud es el valor principal para nosotros, y
          la seguimos cuando creamos nuestros postres caseros.
        </p>
        <p class="vaca__parrafo">
          Utilizamos recetas tradicionales e ingredientes 100% naturales.
          Nuestros productos son tan naturales que se pueden dar a niños a
          partir de los tres años. Los amantes de los dulces pueden esperar 55
          tipos de helado, 15 tipos de café y 23 batidos.
        </p>
        <a class="vaca__button"
          >Leer más<svg class="lore" height="3.43px" width="8px">
            <use href="./images/icons.svg#punta-de-flecha"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="tradition__elements">
      <ul class="tradition__options">
        <li class="tradition__option">
          <sgv class="tradition__svg" height="50px" width="50px">
            <use src="./images/symbol-defs.svg#icon-Group"></use>
          </sgv>
          <samp class="tradition__numeros">721</samp>
          <p class="tradition__texto-numero">
            At 721 Cow, we're passionate about producing the highest quality ice
            cream possible.
          </p>
        </li>
        <li class="tradition__option">
          <sgv width="50px" width="50px">
            <use href="./images/symbol-defs.svg#icon-Frame-4"></use>
          </sgv>
          <samp class="tradition__numeros">16kg</samp>
          <p class="tradition__texto-numero">
            You can be sure you're getting a scoop of the freshest ice cream
            around.
          </p>
        </li>
        <li class="tradition__option">
          <sgv class="tradition__svg" height="44px" width="50px">
            <use href="./images/icons.svg#cono"> </use>
          </sgv>
          <samp class="tradition__numeros">84</samp>
          <p class="tradition__texto-numero">
            We use only the freshest, locally-sourced ingredients to make our 84
            unique and delicious flavors.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
