<section class="section-3">
  <div class="tradition container">
    <div>
      <h3 class="tradition__caption">tradition and love</h3>
      <h1 class="tradition__title">how it’s made?</h1>
    </div>
    <div class="vaca background">
      <div class="vaca__img">
        <ul class="">
          <li class="vaca__item">
            <picture>
              <source
                media="(min-whidth: 1280px)"
                srcset="
                              ./images/desktop/cow-about-desktop_1x.jpg
                              ./images/desktop/cow-about-desktop@2xjpg/pic1@2x.jpg"
              />
              <source
                media="(max-widht: 768px)"
                srcset="
                              ./images/mobile/cow-about_1x.jpg
                              ./images/mobile/cow-about@2xjpg"
              />
              <source
                media="(min-whidth:768 px)"
                srcset="
                              ./images/tablet/gallery-section/cow-about-tablet_1x.jpg  pic1_1x.jpg
                              ./images/tablet/gallery-section/cow-about-tablet@2x.jpg"
              />
              <img src="./images/vaca.png" alt="#" />
            </picture>
      </div>
      <div class="vaca__texto">
        <p class="vaca__parrafo">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="vaca__parrafos">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <a class="vaca__button"
          >Read more<svg class="lore" heigth="3.43px" width="8px">
            <use href="./images/icons.svg#punta-de-flecha"></use>
          </svg>
        </a>
      </div>
    </div>
    <ul class="tradition__options">
      <li class="tradition__option">
        <sgv class="tradition__svg" height="50px" width="50px">
          <use src="./images/icons.svg#icon-leche"></use>
        </sgv>
        <samp class="tradition__numeros">721</samp>
        <p class="tradition__texto-numero">
          At 721 Cow, we're passionate about producing the highest quality ice
          cream possible.
        </p>
      </li>
      <li class="tradition__option">
        <sgv width="50px" width="50px">
          <use href="./images/icons.svg#icon-manzanas"></use>
        </sgv>
        <samp class="tradition__numeros">16kg</samp>
        <p class="tradition__texto-numero">
          You can be sure you're getting a scoop of the freshest ice cream
          around.
        </p>
      </li>
      <li class="tradition__option">
        <sgv class="tradition__svg" height="44px" width="50px">
          <use href="./images/icons.svg#icon-dulces"> </use>
        </sgv>
        <samp class="tradition__numeros">84</samp>
        <p class="tradition__texto-numero">
          We use only the freshest, locally-sourced ingredients to make our 84
          unique and delicious flavors.
        </p>
      </li>
    </ul>
  </div>
</section>
