.footer{
    max-width: 1600px;
        min-width: 1280px;
}

.container{
    max-width: 100%;
    min-width: 100%;
   
}
.section-locations__contact {
    display: flex;
    justify-content: space-between;
    

}

.section-locations__contact__title-1 {
    color: #FFA5BA;
    font-family: Titan One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 121px;
}

.section-locations__contact__title-2 {
    color: #D41443;
    font-family: Titan One;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0px;
}

.section-locations__contact__socialmedia-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 121px;

}

.section-locations__contact__socialmedia-list__item {
    margin: 15px;
}

.section-locations__contact__socialmedia-tel {
    text-decoration: none;
    color: #000;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%;
    letter-spacing: 0.32px;
}

.section-locations__contact__socialmedia-tel--color {
    color: #D41443;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%;
    letter-spacing: 0.32px;
}