.page-header {
  height: 60px;
  background-color: $pinkBase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 10px 0;
}
.nav__button {
  display: none;
}
.page-nav {
  z-index: 2;
}
.nav {
  display: flex;
  gap: 35px;
  font-size: 16px;
  font-weight: 700;
  z-index: 3;
}
.nav__link {
  color: $textClear;
  transition: color 0.3s;
}
.active {
  color: $textActive;
}
.nav__link:hover {
  color: #d41443;
}
.button {
  border-radius: 22px;
  width: 159px;
  height: 44px;
  font-family: $brandFont;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button__icon {
  margin: 3px 0px 0px 7px;
  fill: #d41443;
}
.button__clear {
  background-color: $textClear;
  color: $textActive;
  fill: #d41443;
}

.button__active {
  background-color: $textActive;
  color: $textClear;
}
.nav__button--icon {
  display: none;
}
.nav__button--responsive {
  width: 186px;
  display: none;
}
.nav__content--close {
  display: none;
  padding-right: 20px;
  padding-bottom: 24px;
}
.hidden {
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 480px) {
  /*.nav__button--close {
    display: block;
  }
  .page-nav {
    display: none;
  }
 */
  .page-header {
    height: 50px;
    padding: 8px 10px 0;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
  }
  .nav__button--buy {
    display: none;
  }
  .page-header {
    padding-right: 0px;
  }
  .page-nav {
    border: 1px solid red;
  }
  .nav__content--close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav__button--icon {
    display: block;
    background: none; /* Elimina el fondo */
    border: none; /* Elimina el borde */
    padding: 0; /* Elimina el espacio interno */
    cursor: pointer; /* Cambia el cursor a una mano */
  }
  .nav__button--close {
    width: 14px;
    height: 14px;
  }
  .nav__button--responsive {
    width: 186px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .nav {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    background-color: #e17992;
    gap: 0px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 254px;
    padding-top: 20px;
  }
  .nav.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .nav__item {
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
    height: 42px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
  }
}
