.page-header {
  height: 60px;
  background-color: $pinkBase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 10px 0;
}
.nav__button {
  display: none;
}
.page-nav {
  z-index: 2;
}
.nav {
  display: flex;
  gap: 35px;
  font-size: 16px;
  font-weight: 700;
  z-index: 3;
}
.nav__link {
  color: $textClear;
  transition: color 0.3s;
}
.active {
  color: $textActive;
}
.nav__link:hover {
  color: #d41443;
}
.button {
  border-radius: 22px;
  width: 159px;
  height: 44px;
  font-family: $brandFont;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button__icon {
  margin: 3px 0px 0px 7px;
  fill: #d41443;
}
.button__clear {
  background-color: $textClear;
  color: $textActive;
  fill: #d41443;
}

.button__active {
  background-color: $textActive;
  color: $textClear;
}
.nav__button--responsive {
  display: none;
}
@media screen and (max-width: 768px) {
  /*.nav__button {
    display: block;
  }
  .page-nav {
    display: none;
  }
  .nav__button--buy {
    display: none;
  }*/
  .nav__button--responsive {
    display: block;
  }
  .page-header {
    padding: 97px 10px 0;
  }
  .nav {
    display: flex;
    flex-direction: column;
    background-color: #e17992;
    gap: 0px;
  }
  .nav__item {
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
    height: 42px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
  }
}
