$color-white: #fff;
$color-pink: #FFA5BA;
$color-background-s5: #fff5f6;
$color-beige: #F0D1A5;
$color-green: #C2E297;
$color-pink2: #FFB8CA;
$color-black: #000;
$color-gray: #907E82;
$color-red: #D41342;

.section-locations {
  min-width: 320px;
  max-width: 767px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-background-s5;

  @media screen and (min-width: 768px) {
    min-width: 768px;
    max-width: 1279px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 1280px;
    max-width: 1600px;
  }


}



.section-locations__cards-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  margin-top: -100px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;

  }
}

.section-locations__cards {
  width: 280px;
  height: 412px;
  flex-shrink: 0;
  border-radius: 24px;
  background: $color-white;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;

  @media screen and (min-width: 768px) {
    width: 224px;
    height: 528px;
  }

  @media screen and (min-width: 1280px) {

    width: 368px;
    height: 538px;
  }

}

.section-locations__cards__local--1 {
  width: 75.103px;
  height: 28px;
  flex-shrink: 0;
  background-color: $color-beige;
  border-radius: 10px;
  color: $color-white;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 40px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.section-locations__cards__local--2 {
  width: 150px;
  height: 28px;
  flex-shrink: 0;
  background-color: $color-green;
  border-radius: 10px;
  color: $color-white;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 40px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.section-locations__cards__local--3 {
  width: 75.103px;
  height: 28px;
  flex-shrink: 0;
  background-color: $color-pink2;
  border-radius: 10px;
  color: $color-white;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 40px;

  @media screen and (max-width: 768px) {
    font-size: 14px;

  }
}

.section-locations__cards__city {
  color: $color-black;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  margin-left: 40px;
  margin-bottom: 0;

  @media screen and (min-width: 768px) {

    font-size: 16px;
    line-height: 150%;

  }
}

.section-locations__cards__description {
  color: $color-gray;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  margin-left: 40px;

  @media screen and (min-width: 768px) {

    font-size: 14px;
    line-height: 183%;
  }

  @media screen and (min-width: 1280px) {

    font-size: 16px;
    line-height: 183%;
  }


}

.section-locations__cards__svg {
  margin-left: 40px;
  width: 216px;

  @media screen and (min-width: 768px) {
    width: 160px;
  }

  @media screen and (min-width: 1280px) {
    width: 288px;
  }

}

.section-locations__cards__days {
  color: $color-black;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  margin-left: 40px;

  @media screen and (min-width: 768px) {

    font-size: 14px;
    line-height: 183%;
  }

  @media screen and (min-width: 1280px) {

    font-size: 16px;
    line-height: 183%;
  }
}

.section-locations__cards__hours {
  color: $color-pink;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 186%;

  @media screen and (min-width: 768px) {

    font-size: 14px;
    line-height: 183%;
  }

  @media screen and (min-width: 1280px) {

    font-size: 16px;
    line-height: 183%;
  }

}

.section-locations__cards__contact {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 15px;
}

.section-locations__cards__contact-list {
  text-decoration: none;
  color: $color-gray;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 183%;

  @media screen and (min-width: 768px) {

    font-size: 14px;
    line-height: 183%;
  }

  @media screen and (min-width: 1280px) {

    font-size: 16px;
    line-height: 183%;
  }
}

.section-locations__cards__contact-list:hover,
.section-locations__cards__contact-list:focus {
  color: $color-red;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-locations__btn-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  @media screen and (min-width: 768px) {

    flex-direction: row;
    justify-content: center;
    align-items: center;
  }



}

.section-locations__btn-list--btn-1 {
  width: 198px;
  height: 44px;
  border-radius: 22px;
  background-color: $color-red;
  border: none;
  color: $color-white;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  margin: 6px;
}

.section-locations__btn-list--btn-1:hover,
.section-locations__btn-list--btn-1:focus {

  background-color: $color-white ;
  color: $color-red;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-locations__btn-list--btn-2 {
  width: 168px;
  height: 44px;
  border-radius: 22px;
  background: $color-white;
  border: none;
  color: $color-red;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  margin: 6px;
}

.section-locations__btn-list--btn-2:hover,
.section-locations__btn-list--btn-2:focus {
  background-color: $color-red;
  color: $color-white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-locations__btn-list__svg {
  margin-left: 10px;
}